.giu {
  margin-bottom: 70px;
}

.carousel-indicators .active {
  background-color: orange;
}

.test {
  width: 90px;
}
.lpad {
  padding-left: 19%;
}

.p2img {
  width: 100%;
  height: auto;
}

.mto {
  margin-top: 50px;
}

.r {
  height: 3px;
  background-color: orange;
  width: 70px;
}

@media (min-width: 768px) {
  .textwhy {
    padding-right: 150px;
  }
  .two {
    top: 330px;
  }
}

@media (max-width: 768px) {
  .textwhy {
    padding-right: 50px;
  }
  .two {
    margin-top: -11px;
    top: 330px;
  }
}

.why_porch {
  margin: 5%;
}
#primary-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.why_para {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
