#forTutor {
  margin-top: 50px;
}
#tutorMain {
  background-image: radial-gradient(
      circle 919px at 1.7% 6.1%,
      rgba(41, 58, 76, 0.6) 0%,
      rgba(40, 170, 226, 0.6) 100.2%
    ),
    url("/assets/tutor.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 99% 83%, 0% 100%);
  height: 80vh;
  position: relative;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.box-content h1 {
  font-size: 35px;
  font-weight: 700;
}
.box-content a {
  display: block;
  width: 13%;
  background-color: #f5a623;
  text-align: center;
  padding: 12px;
  border-radius: 100px;
  font-weight: 700;
  margin: 30px auto;
}

.whyChoseUs {
  text-align: center;
}
.whyChoseUs h3,
h1 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.whyChoseUs p {
  font-family: "Poppins", sans-serif;
}
.tutor-card img {
  width: 45%;
}
.tutor-card img,
.tutor-card .tutor-card-box {
  display: inline-block;
}
.tutor-card .tutor-card-box {
  margin-left: 22px;
}
.tutor-card h6 {
  margin-bottom: 2px;
}
.tutor-card-box span {
  color: grey;
}
.tutor-card p {
  margin-top: 15px;
}
.whyChoseUs .card {
  box-shadow: 0px 0px 8px 3px rgba(168, 168, 168, 0.4);
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
}
.whyChoseUs .card svg {
  color: #f5a623;
  font-size: 80px;
}
.whyChoseUs {
  padding: 40px 0;
}
