/* .about_slider {
  margin-top: 10%;
}

.carousel-indicators {
  margin-left: -15%;
}
.pimg {
  width: 250px;
}

.carousel-indicators .active {
  background-color: orange;
}

.carousel-indicators li {
  background-color: grey;
}

.lpad {
  padding-left: 19%;
}

.p2img {
  width: 100%;
  height: auto;
}

.r {
  height: 3px;
  background-color: orange;
  width: 70px;
}

.xspazio {
  margin-top: 20px;
}

.rpad {
  padding-right: 9%;
}
.pull-right {
  width: 285px !important;
}

.test {
  width: 90px;
}

@media (min-width: 768px) {
  .one {
    top: 100px;
    left: 40px;
  }
}

@media (max-width: 768px) {
  .one {
    top: 100px;
    left: 70px;
  }
  .mto {
    margin-top: 50px;
  }
}
#myCarousel {
  font-family: "Poppins", sans-serif;
} */
.slick-prev,
.slick-next {
  background-color: #2c2c2c !important;
  border-radius: 100px;
  height: 45px !important;
  width: 45px !important;
}
.about_slider .card {
  box-shadow: 0px 0px 8px 3px rgba(168, 168, 168, 0.4);
  padding: 20px;
  margin-top: 20px;
}
.card img {
  width: 100%;
}
.card h6 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.card p {
  font-size: 14px;
}
#instructor {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
