.sort_colum{
    margin-bottom: 20px;
}
.sort {
    background-color: lightgrey;
    border-radius: 20px;
    padding: 20px;
}
.h{
    margin-bottom: 10px; 
}  

input .xfa-star {
    color: orange;
}
input .fa-star{
    color: gray;
}   
.rates_filter
{ 
    height: 150px;
}