.t_2 {
  padding-top: 0;
}
.our_story {
  margin-top: 8%;
}
.text {
  text-transform: capitalize;
}
.slogan {
  color: grey;
  quotes: "“", "”";
}
.aut {
  color: grey;
  margin-bottom: 70px;
}
.about-title {
  font-weight: 700;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.mbottom20 h2 {
  font-weight: 700;
  font-size: 25px;
}
.our_story p {
  margin-top: 10px;
}
