.thumbnails { 
    border:5px solid orange; 
}
		
.fa-star {
    color: orange;
}
.fa-map-marker {
    color: orange;
}

.fa-check {
    color: orange;
}


.xm {
        background-color: orange;
        border-radius: 40px;
            
        color: white;
        
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
    }


.xb {
        background-color: black;
        border-radius: 40px;
            
        color: white;
        
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

.casella {
    box-shadow: 2px 2px 2px #888888;
    border:2px solid lightgrey; 
    padding: 10px;
    height: 500px;
}


.scuola {
        background-color: lightgrey;
        border-radius: 40px;
        width: 130px;
        padding: 5px;
        font-size: 2.3vh;
    }


.scuola2 {
        background-color: orange;
        border-radius: 40px;
        width: 130px;
        padding: 5px;
        color: orangered;
        font-size: 2.3vh;
    }

.irev {
    width: 50px;
}
.profile_pic{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}