.xb {
    background-color: black;
    border-radius: 40px;
    text-align: center;
    color: white;
    
    font-weight: bold;
    font-size: 11px;
    padding:15px;
}

.xm {
    background-color: orange;
    border-radius: 40px;
    text-align: center;	
    color: white;
    
    font-weight: bold;
    font-size: 11px;
    padding:15px;
}

.scuola {
    background-color: lightgrey;
    border-radius: 40px;
    width: 130px;
    padding: 5px;
    margin: 1%;
}

.scuola2 {
    background-color: orange;
    border-radius: 40px;
    width: 130px;
    padding: 5px;
    color: orangered;
    margin: 1%;
}

.titplus {
    color: orange;
}