
@media (max-width: 768px){
.msu {
    top: -230px;
}
.prbutton4 {
    margin-top: 20px;
}
}
.tutors_div{
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    border-color: red
}
.pagination_div{
    margin: 0 auto;
    display: table;
} 