.margin{
    margin: 1%;
}
.thumbnails_component{
    padding: 0 5%;
}

hr{
    border-top: 0px;
}
.casella {
    box-shadow: 0px 0px 5px 2px #eceaea;
    border: 1px solid #eee;
    padding: 15px 30px;
    height: 100%;
    display: grid;
}

.scuola {
    background-color: lightgrey;
    border-radius: 40px;
    width: auto;
    padding: 5px;
    font-size: 14px;
    ;
}

.scuola2 {
    background-color: orange;
    border-radius: 40px;
    width: auto;
    padding: 2%;
    color: orangered;
    font-size: 14px;
     
}

.irev {
    width: 50px;
}

.titplus {
    color: orange;
}

.corplus {
    color: lightgrey;
}

.tit2plus {
    color: black;
}

.ocorplus {
    margin-top: 10px;
}

.fa {
    color: #A5A5A5;
}

.thumbnails {
    border: 5px solid orange;
}

.parent {
    height: 420px;
    width: 100%; 
    position: relative;
    margin-top: -19px;
    border-radius: 0;      
    box-shadow: 0px 0px 5px 2px #eceaea;
    border: 1px solid #eee;
}
.vid{
    background-image: url("/assets/contatti.jpg");
}
 
.inner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .sub { 
        margin-top: 20px;
    }
}

.date_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.date_container .date_item{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width: 100px;
}
.date_container .date_left{
    margin-right: 10%;
}
.date_container .date_right{
    margin-left: 10%;
}

.del_sub{
    
    display: flex;
    flex-direction: row; 
     margin-bottom: 5%;   
}
.del_sub .scuola2{
    margin: 5px;
    padding: 5px;
}
.fa-trash{
    color: white;
}
.delete_btn{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    
}
.delete_btn:hover{
    background-color: transparent;
}
.delete_btn:focus{
    outline: none;
}
.doc_container{
    margin-right: auto;
    margin-left: 10%;
    margin-top: 5%;
}
.fa-info-circle{
    font-size: 24px;
    color: #FFA500;
    float: left;
}
.react-autosuggest__suggestions-list{
    list-style: none
}
.profile_video{
    height: 300px;
}