.add_subject_save{
    padding: 1%;
    font-size: 1.5rem;
}
.react-autosuggest__suggestions-container--open{
    background-color: white;
    color : #f4a733;
    border: solid 1px #f4a733;
    width: 300px;
    max-height: 200px;
    height: auto;
    overflow-y: auto;
    
}
.react-autosuggest__suggestion{
    margin: 1%;
    padding: 1%;
    font-size: 16px;
    cursor: pointer;
}