.tronc {
    word-wrap: break-word;
}

.backtop {
    background-color: orange;
    height: auto;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 5px;
}

.en {
    color: white;
    text-decoration: underline;
}