.help_parent {
  display: block;
}
.banner_2 {
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 5%;
  text-transform: capitalize;
  background-color: grey;
  margin: auto;
  align-items: center;
  justify-items: center;
}
.banner_2 h1 {
  color: white;
}
.faq_title {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
