.setting_page {
  margin-bottom: 10%;
}
.casella_btn {
  border-radius: 50%;
}
.fa-pencil {
  color: orange;
}
.time_zone_picker,
.css-2b097c-container {
  width: 300px;
}

.csc {
  display: flex;
  flex-direction: column;
}

.csc select {
  border: solid 2px #ffa500;
  height: 31px;
}

.jsx-4179805763 {
  margin-left: 0 !important;
}

.jsx-4179805763 input {
  border: solid 2px #ffa500 !important;
}

select {
  margin: 1%;
  padding: 1%;
}
.jsx-4179805763 {
  width: 300px;
  margin-left: -4%;
  padding: 1%;
}

.location {
  display: flex;
  flex-direction: column;
}
.img_preview {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 5%;
  align-self: center;
}
#account_btn {
  width: 50px !important;
  height: 50px !important;
}
.account-title {
  font-size: 30px;
  padding: 10px 0px;
  font-weight: 700;
  border-bottom: 1px solid #eee;
  margin: 0 0 10px 0;
}
.setting_box h4 {
  font-weight: 700;
  font-size: 16px;
}

.edit_form {
  display: block !important;
}
.edit_form svg {
  font-size: 45px;
}
.dropzone {
  border: dashed 3px #eee;
  border-radius: 5px;
  padding-top: 30px;
  text-align: center;
}
.dropzone--isActive {
  border: dashed 3px green;
}
