.signup_component {
  margin: 0;
  padding: 0;
  /*font-size: 18px;*/
  color: #303030;
}

.signup_title {
  color: #535252;
  font-size: 20px;
  font-weight: 700;
}

.roles {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.role {
  background-color: orange;
  color: white;
  padding: 5px 54px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}
.selected {
  color: black;
  border-color: black;
}
@media (max-width: 768px) {
  .back .cform {
    width: auto;
  }
}

.fb1_btn {
  margin-bottom: 15px;
  width: 90%;
}

.errors_list {
  list-style: none;
}

.black {
  color: black;
}

.error-modal {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-100%) !important;
}
#sign-up-form {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 35%;
  float: none;
  margin: 77px auto;
}
.mbottom20 {
  font-size: 20px;
  font-weight: 700;
}
.pleft5 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.pleft5 a {
  color: #535252 !important;
}
.pleft5 a:hover {
  color: #000 !important;
}
#sign-up-form form {
  width: 100%;
  margin: 0;
  padding: 0px;
}
.G_btn {
  width: 90%;
  display: block;
  text-align: center;
  background-color: orange;
  border-radius: 5px;
  margin-bottom: 5%;
  font-size: 20px;
  border: none;
  height: 40px;
}
#sb_btn {
  height: 40px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  cursor: pointer;
}
.divider {
  position: relative;
  margin: 24px 0;
  width: 100%;
  text-align: center;
}
.divider::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #e9edf6;
}
.divider span {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #535252;
  background-color: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 2;
}
#form_signup-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #f4a733 solid 2px;
}
.btn-form {
  height: 40px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  width: 90%;
  background-color: black;
  border: none;
  margin-bottom: 15px;
}
.facebook {
  background-color: blue;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  font-weight: 700;
  text-transform: capitalize;
  width: 46%;
}
.facebook svg {
  margin-right: 18px;
}
.google {
  text-align: center;
  background-color: red;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  width: 46%;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}
.google svg {
  margin-right: 30px;
}
#sign-up-gmail {
  background-color: #353535;
  color: #fff;
  width: 95%;
  height: 40px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 28px;
}
.back-signUp {
  position: absolute;
  top: -12px;
  font-weight: 600;
  left: -25px;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background-color: #53525c;
}
