.search_component {
    margin-top: 2%;
}

.search_form {
    width: 100%;
}

.loghi {
    margin-top: 250px;
}
 
.h {
    width: 70px;
    height: 3px;
    background-color: orange;
    margin-bottom: 1%;
}

.search_form .rbutton4 {
    padding-left: 0;
    padding-right: 0;
    padding: 10%;
    white-space: nowrap;
}

.rbutton4 {
    background-color: orange;
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    color: white;
    border: none;
}

@media (min-width: 768px) {
    .cform {
        background-color: lightgrey;
        border-radius: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .cinput {
        width: 100%;
        padding: 5px;
    }
    .cinputma {
        margin-right: -30px;
    }
    .rbutton4 {
        font-size: 1.6vh;
    }
}

@media (max-width: 768px) {
    .search_component {
        margin-top: 25rem;
    }
    .cform {
        border-radius: 20px;
    }
    .cform {
        background-color: lightgrey;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .cinput {
        width: 100%;
        margin-bottom: 10px;
    }
    .prbutton4 {
        margin-top: 20px;
    }
}