.scelta {
  box-shadow: 0px 0px 8px 3px rgba(168, 168, 168, 0.4);
  padding: 20px;
  margin: 0 1.5%;
  display: block;
  height: 250px;
  margin-top: 5%;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.scelta .item {
  display: flex;
  margin: auto 0;
  width: auto;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 10%;
}
.scelta .title {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.loghi {
  margin-bottom: 70px;
}

.img_help {
  margin: auto;
  height: 100px;
}
@media (min-width: 768px) {
  .loghi {
    margin-top: 230px;
  }
}

@media (max-width: 768px) {
  .pscelta {
    margin-bottom: 20px;
  }
}
