
.nav_pills{
    word-break: break-all;
}
.materie {
    background-color: orange;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad {
    padding-right: 15px;
} 

@media (max-width: 768px){
.nav_pills{
    margin-top: -25rem;
}
}