.plus {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 12px;
  border: 2px solid orange;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.plus #faq-title-faq {
  color: #000;
  font-weight: 700;
  font-size: 17px;
  padding: 5px;
}
.plus p i {
  color: orange;
}
/* .plus:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

.titplus {
  color: orange;
}

.ocorplus {
  margin-top: 10px;
}
.faq_questions {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.questions {
  display: flex;
  flex-direction: row;
}
#faq-title {
  margin: 50px 0;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
}
.faq-text {
  font-size: 16px;
  font-family: Poppins, sans-serif;
}
