.backtitle {
    font-size: 30px;
    color: #41351d;
    font-weight: bold;
}

@media (max-width: 768px) {
    .contx {
        padding-left: 50px;
    }
    .rientro {
        padding-right: 20px;
        padding-left: 30px;
    }
}

@media (min-width: 768px) {
    .rientro {
        padding-left: 30px;
    }
}