	.giu {
		margin-bottom: 0px;
		margin-top: 1%;
	}

	.ver {
	    height: 354px;
	    text-align: center;
	}

	.numeri {
	    font-size: 30px;
	    font-weight: bold;
	    color: orange;
	}

	.nscritte {
	    color: white;
	}

	@media (min-width: 768px) {
	    .funder {
	        background-image: url("/assets/smt.jpg");
	        background-repeat: no-repeat;
	        background-size: cover;
	        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
	        height: 354px;
	        padding: 30px;
	    }
	    .ver {
	        padding-top: 100px;
	    }
	}

	@media (max-width: 768px) {
	    .funder {
	        background-image: url("/assets/smt.jpg");
	        background-repeat: no-repeat;
	        background-size: cover;
	        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
	        height: 354px;
	        padding: 30px;
	    }
	    .ver {
	        padding-top: 10px;
	    }
	}