
.col-sm-5 img {
    width: 40%;
}

.funder {
    background-size: cover;
}

.about_slider{
    margin-bottom: 1%;
    margin-top: 2%;
}

@media (min-width: 1200px) {
    .container {
        width: auto;
    }
}

.row {
    margin-left: 0;
    margin-right: 0; 
}