.setting_page{
    margin-bottom: 10%;
}
.casella_btn {
    border-radius: 50%;
}
.fa-pencil {
    color: orange;
}
.inline_divs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly; 
    margin: 1%;
}
.element_div{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.element_div input,.element_div select,.element_div textarea{
    border: solid 2px #FFA500;
    width: 300px;
    padding: 1%;
}
.element_div textarea{
  height: 200px;
  width: 400px;
}
.element_div select{
    margin: 0;
    height: 31px;
}
.std{
    justify-content: flex-start;
    margin-left: 7%;
}
 
.std_edit{
    justify-content: flex-start;
    margin-left: 14%;
}

.std_info{
    margin-left: 14%;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .inline_divs{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly; 
        margin: 1%;
    }
    .std{
        margin-left: 0;
    }
}