.c_u_l {
  margin: 8% 0;
}
.numeri {
  font-size: 30px;
  font-weight: bold;
  color: orange;
}
.email {
  margin-top: -50px;
  margin-bottom: 40px;
}

.emailt {
  margin-bottom: 50px;
}
.cinput {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}
.sbutton {
  background-color: #41351d;
  width: 120px;
}
.scon {
  color: white;
  /*text-transform:uppercase;*/
  /*font-weight: bold;*/
  font-size: 20px;
}

@media (min-width: 768px) {
  .tmap {
    font-size: 40px;
  }
  .cinput {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .tmap {
    font-size: 30px;
  }
  .cinput {
    width: 100%;
  }
}
.input-fields {
  border-bottom: 1px solid #c7c8c9;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
#sBtn {
  border-radius: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
#sBtn:hover {
  background-color: rgb(160, 118, 39);
  transition: all 1s;
}
.cform {
  background-color: #fff !important;
}
