.xorange {
    background-color: #F8B63C;
    height: 220px;
    padding: 30px;
    margin-bottom: 70px;
}

.hc {
    color: white;
    font-weight: bold;
}

	
.careers {
    font-weight: bold;
    background-color: white;
    color: black;
    width: 200px;
    padding: 15px;			
} 

@media (max-width: 768px) {
    .mdev {
        padding-top: 30px;
    }
    .hc {
        text-align: center;
        margin-top: -50px;
    }
}