/* input{
 border-color: #FFA500   ;
 border-radius: 25px;
 margin: 5%;
} */ 
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.paypal{
margin: 5%;
}

.StripeElement {
  border: #FFA500 solid 2px;
  width: 80%; 
}
.btn_save,.add_payment{
  background-color: #FFA500;
  border: none;
  color: white;
  margin: 1%;
  font-size: 18px; 
  padding: 1%;
  width: 100px;
}
.add_payment{
  width: 200px;
  margin: 0 
}

.payment_screen{
  align-items: center;
}
