.jbutton {
    background-color: orange;
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.jcon {
    color: black !important;
    /*text-transform:uppercase;*/
    font-weight: bold;
    font-size: 16px;
}

#demo {
    background-image: url("/assets/x1team.png");
  height: 333px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
#demo2 {
    background-image: url("/assets/x2team.png");
  height: 333px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}


#demo3 {
    background-image: url("/assets/x3team.png");
  height: 333px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.social {
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .mit {
        margin-top: -500px;
        margin-bottom: 50px;
    }
    	
			#demo ,#demo2,#demo3{
				margin-bottom: -90px;
            }
          
}

@media (max-width: 768px) {
    .mit {
        margin-bottom: 50px;
    }
}