

.text {
    /*padding-bottom: 20px;*/
    font-size: 30px;
}

.vid {
   
    box-shadow: inset 0 0 0 2000px rgba(218, 218, 218, 0.5);
    min-height: 250px;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 70px;
}  
@media (min-width: 768px) {
    .text {
        padding-top: 230px;
    }
}

@media (max-width: 768px) {
    .text {
        padding-top: 80px;
    }
}