.numeri {
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

@media (min-width: 768px) {
    .tmap {
        font-size: 40px;
    }
    .imgmap {
        background-image: url("/assets/map.jpg");
        background-size:contain;
        height: 520px;
        background-position: center;
        background-repeat: no-repeat;
    }
        
}

@media (max-width: 768px) {
    .tmap {
        font-size: 30px;  
    }
    .maps{
        margin-top: 20rem;
    }
    .imgmap {
        background-image: url("/assets/map.jpg");
        background-size: cover;
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
    }
}