.see {
  margin-top: 70px;
  margin-bottom: 70px;
}

.rbutton2 {
  box-shadow: 2px 2px 2px #888888;
  background-color: white;
  border-radius: 40px;
  width: 200px;
  padding: 15px;
}

.con {
  color: dimgrey !important;
  text-transform: uppercase;
  font-weight: bold;
}
#text-tutors {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.rbutton2:hover {
  text-decoration: none;
  background-color: #f4f4f4;
}
.con {
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
  text-decoration: none;
}
