.change_password_setting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}
.change_password_setting input {
  border: none;
  margin: 2%;
  border: solid #ffa500 2px;
  padding: 1%;
  width: 60%;
}
.change_password_setting label {
  font-size: 16px;
  text-transform: capitalize;
}
.change_password_setting .save {
  color: white;
  border: none;
  padding: 1%;
  margin: 2%;
  width: 10%;
  font-size: 18px;
  background-color: #ffa500;
}

.change-password-modal {
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.change_password_setting {
  box-shadow: 0px 0px 5px 2px #eceaea;
  border: 1px solid #eee;
  padding: 15px 30px;
}
.change_password_setting .account-title {
  width: 100%;
  font-size: 22px;
}
.hasSet strong {
  font-size: 16px;
}
.hasSet p {
  font-size: 15px;
}
