.login_title {
  color: #535252;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}

input[type="checkbox"] {
  margin-right: 5%;
}

.scon {
  white-space: nowrap;
}

.login_component {
  margin: 0;
  margin-top: 5%;
  padding: 0;
  /*font-size: 18px;*/
  color: #303030;

  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
.cdiv {
  margin: 0;
  width: 80%;
}

.loghi {
  padding-bottom: 10px;
}

.cinput {
  background-color: #f5f6f7;
  border: none;
  /* border-bottom: 1px solid black; */
  margin-bottom: 40px;
  padding: 10px;
}

.sbutton {
  background-color: #f4a733;
  width: auto !important;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
}
.class {
  color: white;
  padding-left: 50px;
}

.hx {
  width: 70px;
  height: 0.5px;
  background-color: white;
}
.social_btns {
  display: flex;
  flex-direction: row;

  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
  align-items: center;
}
.fb1_btn {
  margin-bottom: 24px;
  background-color: #24292e;
  font-size: 20px;
  width: 80%;
  border-radius: 100px;
  padding: 5px;
  width: 90%;
  background-size: 45px 45px;
}

.G_btn {
  color: black;
}
.g_logo {
  width: 40px;
  height: 40px;
}
.fb1_btn,
.G_btn {
  color: white;
  border: none;
  width: 250px;
  height: 50px;
  border: none;
  margin: 0 5%;
  text-transform: capitalize;
}
.g_title {
  text-transform: capitalize;
  color: black;
  margin-left: 5%;
}

@media (min-width: 768px) {
  .cinput {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cinput {
    width: 100%;
  }
  .login_component {
    background-size: auto;
  }
  .social_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#err_btn {
  display: none;
  visibility: hidden;
}
.black {
  color: black;
}

.social_auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
  padding: 1%;
}
.social_auth .logo {
  width: 40px;
  height: 40px;
}
.social_auth span {
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}
.fb {
  background-color: #3b5998;
}
.fb span {
  text-transform: capitalize;
  color: white;
}
.G_btn {
  border: red 2px solid;
  padding: 1%;
  width: 250px;
  display: flex;
  margin: auto;
}
.g_title {
  margin: auto;
  margin-left: 25%;
}

/* Form */
.form-content {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 35%;
  float: none;
  margin: 44px auto;
}
.form_input {
  width: 100%;
  border: none;
  margin-bottom: 30px;
  /* background-color: #eaeaea; */
  padding: 10px;
  border-bottom: 2px solid #ffa500;
}
.form-btn {
  height: 40px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  width: 100%;
  background-color: black;
  border: none;
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}
.forget-pass {
  color: #5a5a5a;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 30px;
  display: inline-block;
}
.forget-pass:hover {
  text-decoration: none;
}
.error {
  color: red;
  margin-bottom: 20px;
  text-transform: capitalize;
}
input,
button:focus {
  outline: none;
  box-shadow: none;
}
.facebook {
  background-color: blue;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  width: 46%;
}
.facebook svg {
  margin-right: 18px;
}
.google {
  text-align: center;
  background-color: red;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  width: 46%;
  font-weight: 700;
}
.google svg {
  margin-right: 30px;
}
.opt {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.account {
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.account a {
  font-weight: 700;
}
.account a:hover {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

.divider {
  position: relative;
  margin: 24px 0;
  width: 100%;
  text-align: center;
}
.divider::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #e9edf6;
}
.divider span {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #24292e;
  background-color: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 2;
}
