	.r {
		height: 1px;
		background-color: black;
		width: 70px;
		margin-left: 70px;
	}

	.invert {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 5%;
	}

	@media (max-width: 768px) {
		.invert{
			display: flex;
			flex-direction: column;
		}

	}
	.who_we_are{
		margin: 5%;
	}