.h {
  width: 180px !important;
  height: 5px !important;
  background-color: orange;
  margin-bottom: 110px;
}

.loghi {
  margin-bottom: 70px;
}
#primary-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding-top: 70px;
}
#how_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
#how_it_des {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
