.hc {
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 50px;
  animation: topAnimate 0.5s linear;
}
@keyframes topAnimate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.rbutton {
  background-color: white;
  border-radius: 40px;
  width: 200px;
  padding: 15px;
}

.con {
  color: rgb(0, 0, 0) !important;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .hc {
    font-size: 40px;
  }
  .Banner .text_white {
    font-size: 16px;
  }
  .Banner .mab .rbutton {
    padding: 11px 30px;
  }
  .Banner .con {
    font-size: 15px !important;
  }
}

@media (max-width: 768px) {
  .hc {
    text-align: center;
    margin-top: -15px;
    font-size: 32px;
  }
  .mab {
    margin-bottom: 30px;
    margin-top: 60px;
  }
  .Banner .rbutton {
    margin: auto;
    text-align: center;
    display: block;
    width: 30%;
  }
  #login-nav {
    width: 20%;
  }
}
.mab p {
  font-size: 18px;
  margin: 16px 0;
}
