.container_menu {
  padding: 0px;
  margin: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 99999;
  font-family: "Open Sans", sans-serif;
}
.container_menu .navbar {
  padding: 0 5%;
}
.container_menu li {
  font-weight: 700;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#menu1:hover,
#menu1:focus {
  color: black;
}
.pimg {
  width: 40px;
}
.dropdown-toggle {
  border: none;
}
.dropdown-toggle:hover {
  color: black;
}
.btn:hover {
  color: black;
}
.bc_grey {
  background-color: grey;
}
.navbar-default .navbar-nav li a {
  color: white;
}
.login .co {
  color: grey;
}
.btm_shodow {
  box-shadow: 3px 3px 15px -7px rgba(0, 0, 0, 0.47);
}

.btm_shodow .navbar-nav > li > a {
  color: black;
}

.btm_shodow .login {
  background-color: orange;
}
.btm_shodow .login .co {
  color: white;
}
.btm_shodow .login:hover .co {
  color: black;
}
.navbar.navbar-default {
  /*background-color: #99ccff;*/
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*the end delete line bottom menu*/

.navbar-toggle {
  float: right;
  margin-right: 10px;
  /*margin-top: 20px;*/
  z-index: 3;
}

/*edit toggle*/

.navbar .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  /* Removes border color */
  /*float: left;*/
  /* Move navbar toggle to left */
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar {
  margin-bottom: 0px;
  background: none;
}

.navbar-static-top {
  margin-top: 0px;
}
.navbar-static-top {
  margin-bottom: 0px;
}

.search-tutors {
  width: 100%;
}

.fa-commenting,
.fa-bell {
  color: orange !important;
}

.fa-search {
  color: white !important;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: flex;
    float: none;
    vertical-align: top;
    margin-top: 30px;
    align-items: center;
  }
  .navbar-brand {
    width: 170px;
  }
  .navbar .navbar-collapse {
    text-align: center;
    font-size: 16px;
  }
  .login {
    background-color: orange;
    border-radius: 40px;
    width: 130px;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-nav li a {
    color: white;
    /*font-weight: bold;*/
    /*font-size: 20px;*/
  }
  .btm_shodow .navbar-header .navbar-toggle .icon-bar {
    background-color: black;
  }
  .btm_shodow .navbar-nav li a {
    color: black;
  }

  .btm_shodow .navbar-nav li a:hover {
    color: orange;
  }
  .navbar-static-top {
    margin-top: 0px;
  }

  .navbar-brand {
    position: absolute;
    top: -12px;
    bottom: 0;
    left: 7%;
    margin-bottom: 2%;
  }
  .login .co {
    color: white;
    padding: 0;
  }
  .login:hover .co {
    color: black;
  }
}
.head_drop {
  margin-left: auto;
}
#login-nav {
  background-color: orange;
  border-radius: 100px;
  padding: 8px 40px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
#search_form {
  padding: 18px;
  border: none !important;
  border-top: none;
  outline: none;
  box-shadow: none;
  border: 1px solid #f5a623;
  background: #f1f3f4;
}
.search-tutors .input-group-sm {
  width: 80%;
  margin: 0 auto;
}
.input-group-addon {
  border: none;
}
