	.footsi {
	    padding-top: 120px;
	    padding-bottom: 120px;
	    vertical-align: middle;
	    background-color: #130606;
	    
	    min-height: 400px;
	    color: white;
	}

	.rbutton3 {
	    background-color: orange;
	    border-radius: 40px;
	    width: 300px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    padding-left: 15px;
	    padding-right: 15px;
	    margin-top: 70px;
	    font-size: 15px;
	    color: white;
	}

	.hrx {
	    height: 1px;
	    background-color: darkgrey;
	    width: 100%;
	}

	.search {
	    border-style: solid;
	    border-radius: 20px;
	    padding: 10px;
	    border-width: 1px;
	    margin-bottom: 25px;
	}

	@media (max-width: 768px) {
	    .footsi {
	        text-align: center;
	    }
	}