.m_l {
  margin-left: auto;
}
a {
  color: white;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 0 5%;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
.bc_grey .navbar-nav li a {
  color: grey !important;
}
.bc_grey .navbar-nav li a:hover {
  color: black;
}
#menu1:hover,
#menu1:focus {
  color: black;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.btm_shodow {
  -webkit-box-shadow: 0 8px 6px -6px #802d2d !important;
  box-shadow: 0 8px 6px -6px #888888 !important;
  background-color: white;
  color: black;
}
.grey_body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  /* font-size: 18px; */
  color: #303030;
  /* background-image: url("/assets/onde.png"); */
  background-position: top;
  background-repeat: no-repeat;
}

.white_space_nowrap {
  white-space: nowrap;
}

.mtop0 {
  margin-top: 0px !important;
}

.mtop5 {
  margin-top: 5px;
}

.mtop20 {
  margin-top: 20px;
}

.mtop40 {
  margin-top: 40px;
}

.mbottom0 {
  margin-bottom: 0px;
}

.mbottom5 {
  margin-bottom: 5px;
}

.mbottom10 {
  margin-bottom: 10px;
}

.mbottom20 {
  margin-bottom: 20px;
}

.mbottom30 {
  margin-bottom: 30px;
}

.mright8 {
  margin-right: 8px;
}

.pleft5 {
  padding-left: 5px;
}

.pleft10 {
  padding-left: 10px;
}

.pleft20 {
  padding-left: 20px;
}

.pright10 {
  padding-right: 10px;
}

.pright20 {
  padding-right: 20px;
}

.ptop10 {
  padding-top: 10px;
}

/* .mab {
  padding-top: 4%;
} */

.mab .rbutton {
  background-color: white;
  border-radius: 40px;
  width: 200px;
  padding: 15px 40px;
}
.mab .rbutton span {
  color: rgb(34, 33, 33);
}
.mab .rbutton:hover {
  text-decoration: none;
  background-color: #dbdada;
  color: #000;
  transition: all 1s;
}
.mab p,
.mab .rbutton {
  animation: fadeOut 1s linear;
}
@keyframes fadeOut {
  0% {
  }
  100% {
  }
}
.test_div {
  height: 300px;
  width: 300px;
}

.nav.navbar-nav {
  margin-top: 0px;
}

nav .navbar-nav li a {
  padding: 10px 15px;
  font-size: 15px;
}

.login {
  padding: 9px 45px;
}

nav .navbar-nav li a.login:hover {
  background: #ff9d00;
}

.navbar-brand {
  padding: 10px 0;
  position: unset;
}

nav .navbar-nav li {
  padding: 12px 8px;
}

.footsi {
  padding-top: 100px;
  padding-bottom: 40px;
  min-height: auto;
}

.rbutton3 {
  padding: 10px 30px;
  font-size: 14px;
}

.footsi .hrx {
  width: 75%;
}

/* About Us page */

#demo,
#demo2,
#demo3 {
  height: 380px;
}

.vid {
  margin-top: 50px;
}

.landing {
  padding-top: 0px;
}

.titolo {
  padding-top: 70px;
}

.mit {
  margin-top: -150px;
}

/* About Us page */

/* Contact Us page */

/* .cform {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.cform form {
  width: 70%;
  margin: auto;
} */

.backtitle,
.rientro {
  padding-left: 40px;
}

.backtitle {
  font-size: 25px;
}

/* Contact Us page */

/* Faq page */

.plus {
  padding: 10px 12px 10px 15px;
}

.plus i {
  margin-top: 2px;
  float: right;
  cursor: pointer;
}

/* Faq page */

/* Login page */

.loghi {
  margin: 10% auto;
}

.faq {
  margin: 15% auto;
}

.cdiv {
  margin: 0;
}

.sbutton {
  margin-top: 20px;
  width: 120px;
}

.login_r_txt p {
  line-height: 2;
}

/* Login page */

/* Sign-up page */

.back {
  padding: 2% 0;
  height: auto;
}

.back .h {
  width: 10%;
  margin: 1% auto 2%;
}

.back .cform {
  width: 40%;
  margin: 0 auto 50px;
  padding: 25px;
}

.back .cinput {
  margin-bottom: 40px;
}

.pimg {
  margin-bottom: 20px;
}

.back .sbutton {
  width: auto;
  margin-top: 10px;
  border-radius: 10px;
}

/* Sign-up page */

/* Home page */

.loghi p {
  width: 80%;
  margin: auto;
}

.how_work .h {
  margin-bottom: 70px;
}

.text_white {
  color: #ffffff;
}

.how_work .loghi {
  margin: 5% auto;
}

.lpad {
  padding-left: 0;
}

.xspazio {
  margin-top: 40px;
}

.rpad {
  padding-right: 15px;
  padding-top: 2%;
}

.pimg {
  width: auto;
}

.find_subject .text {
  padding-top: 100px;
}

.find_subject .h {
  margin-bottom: 50px;
}

.toturs_box {
  width: 18%;
  height: 135px;
  border-radius: 15px;
  padding: 30px 15px;
  color: #ffffff;
  margin: 0 25px 30px 0;
  text-align: center;
  float: left;
}

.toturs_box:last-child {
  margin-right: 0;
}

.toturs_box_img {
  width: 40px;
  height: 40px;
  margin: auto auto 20px auto;
}

.toturs_box img {
  width: 100%;
  text-align: center;
}

.toturs_box.yellow {
  background-color: #faa200;
}

.toturs_box.gray {
  background-color: #353535;
}

.toturs_box h6 {
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.see .rbutton2 {
  box-shadow: 0 0 5px 2px #e3e0e0;
  border-radius: 40px;
  width: auto;
  padding: 15px 40px;
  border: 1px solid #dbdada;
}

.see .con {
  font-size: 12px;
}

/* Home page */

/* Profile page */

.btm_shodow {
  -webkit-box-shadow: 0 8px 6px -6px #888888 !important;
  box-shadow: 0 8px 6px -6px #888888 !important;
  background-color: white;
}

.xb,
.xm {
  font-size: 18px;
}

.casella {
  box-shadow: 0px 0px 5px 2px #eceaea;
  border: 1px solid #eee;
  padding: 15px 30px;
  height: 420px;
}

.casella .h {
  width: 50px;
  margin-top: 0;
  margin-bottom: 5%;
}

.casella_txt {
  line-height: 1.5;
  margin-top: 5px;
}

.scuola {
  background-color: #f2f2f2;
  padding: 5px 12px;
  display: inline-block;
  width: auto;
  margin-bottom: 8px;
}

.scuola2 {
  background-color: #ffefd7;
  padding: 5px 12px;
  display: inline-block;
  width: auto;
  margin-bottom: 8px;
}

.parent {
  height: 420px;
}

.irev {
  width: 65px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.rating_box {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 0;
}

.show_more_rating {
  color: #3333ad;
  margin: 10px 0;
}

.show_more_rating i {
  color: #3333ad;
  margin-left: 5px;
}

.gene_tbl .table > tbody > tr > td,
.gene_tbl .table > tbody > tr > th,
.gene_tbl .table > thead > tr > td,
.gene_tbl .table > thead > tr > th {
  padding: 15px 20px;
}

.gene_tbl .table > thead > tr > th {
  border-bottom: 1px solid #ddd;
}

.gene_tbl .table {
  border: 1px solid #ddd !important;
}

.gene_tbl .table .fa-check {
  color: #f4a733;
  font-size: 18px;
}

/* Profile page */

/* Tutors page */

#menu1 .pimg {
  width: 35px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: -10px;
}

#menu1 {
  padding: 12px 0 0 0;
  line-height: 1;
}

#menu1:hover,
#menu1:focus {
  background-color: transparent;
  color: black;
  box-shadow: none;
}

#menu1 .caret {
  margin-left: 10px;
}

.casella_btn {
  box-shadow: 0px 0px 5px 2px #eceaea;
  border-color: #fff;
  width: 45px;
  height: 45px;
}

.casella_btn i {
  font-size: 18px;
}

.selez {
  padding: 10px 20px;
  box-shadow: 0px 2px 5px 1px #ddd8d8;
  font-size: 18px;
}

.noselz {
  padding: 10px 20px;
  font-size: 18px;
  border-bottom: solid #eee;
  border-width: 1px;
}

.setting_box h1 {
  margin-top: 10px;
}

.setting_box .h {
  width: auto;
  margin-left: -30px;
  margin-right: -30px;
}

.casella.setting_box {
  height: auto;
}

nav .navbar-nav li.head_drop li {
  padding: 0px 8px;
}

nav .navbar-nav li.head_drop .dropdown-menu li a {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #fff;
}

nav .navbar-nav li.head_drop .dropdown-menu .active a {
  color: #000 !important;
  background: transparent;
}

nav .navbar-nav li.head_drop .dropdown-menu li a:hover {
  color: #000;
  background: transparent;
}

nav .navbar-nav li.head_drop .dropdown-menu li:last-child a {
  border-bottom: 0px;
}

.search_form form {
  width: 100% !important;
}

.search_form form .cinput {
  margin-bottom: 20px;
  border: 1px solid #dddcdc;
  border-radius: 3px;
  padding: 10px 10px;
}

.search_form .rbutton4 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 11px;
}

.sort_input {
  margin-bottom: 20px;
  border: 1px solid #dddcdc;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 13px;
  margin-left: 5px;
}

.sort {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
}

.sort_colum .sort .h {
  margin-top: 10px;
  width: 50px;
  border-top: 0;
  height: 2px;
}

.sort_colum .sort input[type="checkbox"] {
  margin: 0 10px 10px 0;
}

.materie {
  padding-right: 25px;
  padding-left: 25px;
}

.pad {
  padding: 0 20px;
}

.search_tutor {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 35px 15px 25px;
}

.search_tutor .pimg {
  width: 120px;
  margin-bottom: 0;
}

.search_tutor .scuola {
  background-color: #f2f2f2;
  padding: 5px 20px;
  margin-bottom: 8px;
  display: inline-block;
  width: auto;
}

.search_tutor .xb,
.search_tutor .xm {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

.search_tutor .btn_group {
  margin-top: 90px;
}

/* Tutors page */

@media (max-width: 768px) {
  .mit {
    margin-top: 0px;
  }
  .all_toturs_box {
    display: flex;
    flex-direction: column;
  }
  .toturs_box {
    width: 100%;
  }
}

.edit_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.edit_form.location {
  align-items: flex-start;
}

.edit_form input,
.edit_form textarea {
  width: 80%;
  border: none;
  border-bottom: solid 1px black;
}
.edit_form .footer_edit_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.edit_form .footer_edit_form .save,
.add_subject_save {
  font-size: 2rem;
  background-color: #ffa500;
  color: white;
  border: none;
  margin: 5%;
  padding: 1%;
  width: 120px;
}

.edit_form .footer_edit_form .cancel {
  font-size: 2rem;
  background-color: transparent;
  border-radius: 20px;
  border-color: #ffa500;
  color: #ffa500;
  border: none;
  margin: 5%;
  padding: 2%;
  width: 120px;
}

.Banner {
  padding: 12% 10%;
  background-color: #353535;
  /* background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%); */
}

.banner_2 {
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 5%;
  text-transform: capitalize;
  background-color: grey;
  margin: auto;
  align-items: center;
  justify-items: center;
}
.banner_2 h1 {
  color: white;
}

.cinput {
  border: #f4a733 solid 2px;
  padding: 1%;
}

.sbutton {
  background-color: #f4a733;
}

a:hover {
  text-decoration: none;
}
.banner-color {
  background-color: #353535;
}
