	.vid {
		box-shadow: inset 0 0 0 2000px rgba(218, 218, 218, 0.5);
		min-height: 250px;
		padding: 30px;
		border-radius: 20px;
		margin-bottom: 70px;
		
	}
  
	.titolo {
		padding-top: 200px;
		font-weight: bold; 
		color: white;
	}
	.parent {
		height: 300px;  
		position: relative;
		padding-left: 0px;
		padding-right: 0px;
	}

	.parent_750 {
		height: 750px;
		position: relative;
	}

	.inner {
		width: 100px;
		height: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.vid_1{
			
		
			box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
			min-height: 849px;
			padding: 30px;  
			/*border-radius: 20px;*/
			/*margin-bottom: 70px;*/
		
		
	}

	.container_1{
		width: auto;
		margin: 0;
		padding: 0;
		margin-top: 10%;
	}

